@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

.site-wrap {
  background: white;
  text-align: justify;

}

@media (min-width: 45em) {
  .site-wrap {
    padding: 5vh 5vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (min-width: 20em) {
  body.fixed-nav header {
  position: fixed;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%;
  font-size: 1rem;
  order: 2;
  }
}


nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.site-header {
  background: #0D1313;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  background-size: cover;
  margin-top: 0px;
  transition: all 0.5s;
  top: 0;

}

.site-nav {
  transition: all 0.5s;
  flex-direction: row;
  z-index: 1;
  margin: auto;
  width: 100%;
  order: 3;
  background: #0D1313;
  font-size: 0.8rem;
}

@media (min-width: 46.25em) {
  .site-nav {
    width: auto;
    order: 2;
    font-size: 1rem;
  }
}

.site-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #CDD0D0;
  padding: 20px;
  display: inline-block;
}

.active a {
  font-weight: bold;
  color: #62DEBE;
}

.account-actions {
  margin-left: auto;
  display: flex;
  margin-right: 10px;
  align-items: center;
  align-self: auto;
  order: 2;
}

.account-actions .sign-out-link {
  color: #62DEBE;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

.account-actions .account-dropdown ul {
  display: none;
}

@media (min-width: 20em) {
  .element {
    align: center;
    width: calc(90vw - 10px);
    height: calc(90vw - 10px);
  }
}
